<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

        <!-- Create a page for 404 error handling -->
        <title>500 Unexpected Error</title>
        <body>
            <div class="center">
                <h1 class="title">Unexpected Error Occurred</h1>
                <p>An Unexpected error has occurred in the application</p>
                <p>Follow the button below to return Home.</p>
                <a href="/">
                    <button class="submitButton" >Home</button>
                </a>
            </div>
        </body>

    </head>

</html>
