{% extends "base.html" %}
{% block title%}Logout?{% endblock %}

{% block pageContent %}
<h1 class="title">Are you sure you want to <b>log out?</b></h1>
<p class="center">You are about to <b>log out</b>, confirm below.</p>
<br>
<form name="form-name" value="pickAsset" class="center" method="post">
    <h3>Confirm Log Out</h2>
    <select id="logoutChoice" name="logoutChoice">
        <option value="Yes">Yes, I would like to logout</option>
        <option value="No">No, put me back onto the assets page</option>
    </select>  
    <br>
    <button class="submitButton" type="submit">Confirm selection</button>
</form>{% endblock %}