{% extends "base.html" %}
{% block title%}Login{% endblock %}

{% block pageContent %}
<h1 class="title">Sign Up Page</h1>
<p class="center">Sign Up and make an account for Asset Manager below.</p>
<p class="center">If you already have an account navigate to the Log In page for access.</p>
<form class="center" method="post">
    <h3>Username</h2>
    <input 
        type="text" 
        id="username" 
        name="username"
        placeholder="Enter username"
    >
    <h3>Password</h2>
    <input 
        type="password" 
        id="password" 
        name="password"
        placeholder="Enter password"
    >

    <h3>Confirm Password</h3>
    <input 
        type="password" 
        id="confPassword" 
        name="confPassword"
        placeholder="Enter password again"
    >
    <br>
    <button class="submitButton" type="submit">Submit</button>
</form>
{% endblock %}